<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script>
       function onSubmit(token) {
         document.getElementById("contact-form").submit();
       }
     </script>
</head>
<body>
    <h1>contact us</h1>
    <form action="/contact" method="POST" id="contact-form">
    <label for="name">Name</label><input type="text" placeholder="Name" id="name">
    <label for="email">Email</label><input type="text" placeholder="Name" id="email">
     <button class="g-recaptcha" data-sitekey=process.env.SITE_KEY data-callback="onSubmit">Submit</button>

    </form>
    </body>
</html>